@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0;
  padding: 0;
}

a {
  color: #1269D2;
}

a:hover {
  color: #0854AE;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

#jumbo {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.css-icon {
  display: block;
  line-height: 43px;

  border: 4px solid #01D298;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;

  box-shadow: 0 0 3px #888;
  background-color: #E7FEF8;
  color: black;
  top: 0;
  text-align: center;
  font-size: 2em;
}

a.title {
  text-align: center;
  color: #01D298;
}

a.title:hover {
  text-align: center;
  color: #00AE7E;
}

.register {
  margin-top: 2em;
}

.tagline {
  color: #8A848A;
  text-align: center;
}

.alert {
  z-index: 101;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

div.alert.zoom-alert, div.alert.no-geoloc, div.alert.alert-success {
  bottom: 6em;
  margin-bottom: 0;
}

div.alert.alert-danger, div.alert.node-saved {
  bottom: 190px;
  margin-bottom: 0;
}

.form-errors {
  color: #F60131;
}

.login {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.btn-form {
  margin-top: 5px;
}

div.leaflet-control-attribution, div.leaflet-compact-attribution {
  bottom: 70px;
}

.save-location {
  display: none;
  position:absolute;
  text-align: right;
  margin-top: 20px;
  margin-left: 50px;
  z-index: 99;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 100%;
}
