.directions-icon {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 40px;
  top: 12%;
  right: .5em;
  height: 40px;
  width: 40px;
  text-align: center;
  z-index: 99;
}

.fa-arrow-circle-down {
  line-height: inherit;
}

#directions {
  display: none;
  padding: 2.2em;
  position: absolute;
  max-width: 300px;
  min-width: 200px;
  z-index: 98;
  background: rgba(0, 0, 0, .7);
  top: 0;
  right: 0;
  bottom: 70px;
  overflow: auto;
}
