.menu {
  display: none;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  padding: .5em 0;
  font-weight: bold;
  z-index: 102;
}

.menu-bars, .fa-close {
  color: #0854AE;
}

#menu-list {
  display: none;
  color: white;
  padding: 2.2em;
  position: absolute;
  width: 200px;
  z-index: 100;
  background: rgba(0, 0, 0, 1);
  top: 0;
  right: -200px;
  bottom: 70px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

/* ------- ANIMATIONS ------- */
.slide-left {
  animation: slide-left 0.5s forwards;
  -webkit-animation: slide-left 0.5s forwards;
}

.slide-right {
  animation: slide-right 0.5s forwards;
  -webkit-animation: slide-right 0.5s forwards;
}

@keyframes slide-left {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-left {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-right {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-right {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}
