<!DOCTYPE html>
<html>
<head>
  <title>Bespoke</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.4, maximum-scale=1.4, user-scalable=no" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
  <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>

  <!-- NOTE: Below are for mapbox -->
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-osm/v0.1.0/leaflet-osm.js'></script>

  <!-- FontAwesome for icons-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
